---
import Layout from '../layouts/Layout.astro';
import Card from '../components/card.astro';
---

<Layout title="Lachlan Hawthorne">
	<main class="flex flex-col container px-10 gap-10 py-10 text-white">
		<p class="w-full text-3xl md:text-5xl lg:text-6xl">
			<b class="font-bold">lachlan hawthorne</b> is a designer and developer from australia working on <a href="https://editbase.com" rel="noopener noreferrer" target="_blank">editbase</a>. as you are reading this he is probably making an iced latte, curating a <a href="/playlist">playlist</a> or watching a <a href="https://www.youtube.com/watch?v=kUMe1FH4CHE" rel="noopener noreferrer" target="_blank">programming tutorial</a> at 2x speed.
		</p>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-5 text-black">
				

				<div class="col-span-2 grid grid-cols-1 md:grid-cols-2 gap-5">
					<Card 
					href="https://github.com/editbase/ui/tree/beta" 
					title="editbase ui" 
					subtitle="a framework agnostic ui package for the web" 
					imageSrc="/smile.png" 
					/>

					<Card 
					href="https://github.com/lachlanhawthorne/stacked" 
					title="stacked" 
						subtitle="a typescript starter with cms, ui library and clients" 
						imageSrc="/dance.png" 
					/>
				</div>

				
				<div class="col-span-2 grid grid-cols-1 md:grid-cols-3 gap-5">
					<Card 
						href="/playlist" 
						title="playlist" 
						subtitle="one of my many curated playlist featuring some songs that i love" 
						imageSrc="/love.png" 
					/>
					<Card 
					href="https://github.com/lachlanhawthorne/todos" 
						title="todos" 
						subtitle="cross platform todo starter, this got like 60 stars on github so..." 
						imageSrc="/check.png" 
					/>
					<Card 
						href="https://github.com/lachlanhawthorne/lachlanhawthorne" 
						title="portfolio" 
						subtitle="the source code for this website, clone it and steal it irdgaf" 
						imageSrc="/build.png" 
					/>
				</div>

		</div>

		<footer class="flex flex-row justify-between text-white/50 flex-wrap">
			<div class="flex flex-row gap-4 flex-w">
				<a href="https://github.com/lachlanhawthorne" rel="noopener noreferrer" target="_blank">
					github
				</a>
				<a href="https://twitter.com/lachhawthorne" rel="noopener noreferrer" target="_blank">
					twitter or whatever they call it
				</a>
				<a href="https://www.linkedin.com/in/lachlanhawthorne/" rel="noopener noreferrer" target="_blank">
					linkedin
				</a>
			</div>
			<p>have a nice day.</p>
		</footer>
	</main>
</Layout>

<style is:global>
	p > a {
		@apply underline;
	}

	footer {
		@apply text-white/50;
	}

	footer a:hover {
		@apply text-white;
	}
</style>