---
import Layout from '../layouts/Layout.astro';
---
<Layout title='Lachlan Hawthorne'>
	<main class="flex flex-col container px-10 gap-10 py-10 h-screen justify-center items-center">
    <p class="text-white">i'm still working on this page lol - check back soon</p>
    <a href="/" class="text-white underline">back to home</a>
    
  </main>
</Layout>