---
import NavLink from "./navLink.astro";
---

<footer class="border-t border-neutral-600 py-8 w-full text-lg text-stone-500">
  <div class="flex flex-row justify-between w-full">
    <NavLink href="https://github.com/lachlanhawthorne/dev" newTab>
      View on GitHub
    </NavLink>

    <div class="flex flex-row space-x-8 ">
      {[
          { label: 'GitHub', href: 'https://github.com/lachlanhawthorne' },
          { label: 'Twitter', href: 'https://twitter.com/lachhawthorne' },
          { label: 'LinkedIn', href: 'https://www.linkedin.com/in/lachlanhawthorne/' },
      ]
      .map(({ label, href }) => <NavLink href={href} label={label} newTab />)}
    </div>
  </div>
</footer>