---
import Logo from "src/assets/vectors/logo.astro";

import NavLink from './navLink.astro';
---

<header>
  <div class="flex flex-row justify-between border-b border-neutral-700 min-h-[100px]">
    <NavLink href="/">
      <Logo />
      <!-- <span class="text-4xl font-extrabold">Lachlan Harrison</span> -->
    </NavLink>

    <nav class="flex height-full">
      <ul class="flex flex-row height-full items-center space-x-8 text-stone-500 ">
        {
          [
            { href: "https://github.com/lachlanhawthorne", label: "GitHub" },
            { href: "https://linkedin.com/in/lachlanhawthorne", label: "LinkedIn" },
          ].map(({href, label}) => (
            <NavLink href={href} label={label} />
          ))
        }
      </ul>
    </nav>
  </div>
</header>