<body 
    class="flex-1 font-sans antialiased bg-gray-100 dark:bg-black text-white"
>
    <div 
        class="overflow-hidden" 
        style={{ maxWidth: '100vw' }}
    >
        <main class="mx-auto px-8 flex-1 min-h-screen flex flex-col max-w-3xl">
            <slot />
        </main>
    </div>
</body>
