---
import DefaultPageLayout from '../../layouts/default.astro'
// import PostPreviewList from '$/components/PostPreviewList.astro'


const title = 'Home'
const description = 'Astro-Ink is a crisp, minimal, personal blog theme for Astro'

// export async function getStaticPaths({ paginate }) {
//   const allPosts = await Astro.glob('./*.md');
// //   const sortedPosts = allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));

//     return paginate(allPosts, {
//       pageSize: 8
//     })
// }

const { page } = Astro.props

console.log(page?.data.map((post) => post.url))

---
<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
	<div class="flex flex-col w-full my-10 space-y-12">
    <!-- <h1 class="text-4xl font-black border-stone-800">Projects</h1> -->
    <div class="grid grid-cols-2 gap-8">
      {page?.data.map((post) => (
        <div>
          <a href={post.url} class="group">
            <div class="flex min-h-[220px] bg-neutral-800"></div>
            <h3 class="text-2xl max-w-xl mt-6 mb-1 font-bold group-hover:underline pr-8">{post.frontmatter.title}</h3>
          </a>
          {post.frontmatter?.url && (
            <a class="text-stone-500 text-lg" href={post.frontmatter.url}>
              {post.frontmatter.url.replace('https://', '')}
            </a>
          )}
        </div>
      ))}
    </div>
  </div>
</DefaultPageLayout>
