---
import { SITE } from '$/config'

import Head from "../components/head.astro";
import Layout from "../components/layout.astro";
import Header from "src/components/header.astro";
import Footer from "src/components/footer.astro";

const { content } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
    <Head title={ content?.title ? `${ SITE.title } | ${content.title}` : SITE.title } description={ content?.description ?? '' }/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    </head>
    <Layout>
        <Header />
        <div class="flex-1 flex">
            
            <slot />
        </div>
        <Footer />
    </Layout>
</html>